*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider {
    padding-top: 2rem;
    background-color: #241C20;
    height: 100vh;
}
.wrapper {
    width: 30vw;
    margin: auto;
    display: flex;
    flex-flow: wrap row;
}
.radio {
    display: none;
}
.carousel{
    border: 10px solid #fff;
    width: 30vw;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.container-img {
    display: flex;
    width: 400%;
    height: 100%;
    transition: 1s margin-left ease;
}
.container-item {
    list-style: none;
    display: block;
    width: 100%;
    /* padding: 20%; */
}
.item-img {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 70vh;
    filter: blur(10px);
    transition: filter 1s;
}
.item-description {
    color: white;
}
.buttons {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.button {
   display: block;
}
.button {
    cursor: pointer;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(113,171,254);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    opacity: 0;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color:rgb(37,40,42);
    transition: 0.3s opacity;
}
.container-title{
    width: 400%;
    display: flex;
    transition: 1s margin-left ease;
}
.titles{
    width: 50%;
    overflow: hidden;
}
.title{
    list-style-type: none;
    width: 50%;
}
.item-description{
    width: 100%;
    opacity: 0;
    transition: 1s opacity;
}

/* Карусель картинок */
#radio-1:checked ~ .carousel>.container-img{
    margin-left: 0;
}
#radio-2:checked ~ .carousel>.container-img{
    margin-left: -100%;
}
#radio-3:checked ~ .carousel>.container-img{
    margin-left: -200%;
}
#radio-4:checked ~ .carousel>.container-img{    
    margin-left: -300%;
}

/* Карусель заголовок */
#radio-1:checked ~ .titles>.container-title{
    margin-left: 0;
}
#radio-2:checked ~ .titles>.container-title{
    margin-left: -100%;
}
#radio-3:checked ~ .titles>.container-title{
    margin-left: -200%;
}
#radio-4:checked ~ .titles>.container-title{    
    margin-left: -300%;
}
/* Карусель заголовок, опасити на текст для плавности */
#radio-1:checked ~ .titles>.container-title>.title>#text-1{
    opacity: 1;
}
#radio-2:checked ~ .titles>.container-title>.title>#text-2{
    opacity: 1;
}
#radio-3:checked ~ .titles>.container-title>.title>#text-3{
    opacity: 1;
}
#radio-4:checked ~ .titles>.container-title>.title>#text-4{    
    opacity: 1;
}
/* Для заблюривания картинок */
#radio-1:checked ~ .carousel>.container-img>.container-item>#img-1{
    filter: blur(0px);
}
#radio-2:checked ~ .carousel>.container-img>.container-item>#img-2{
    filter: blur(0px);
}
#radio-3:checked ~ .carousel>.container-img>.container-item>#img-3{
    filter: blur(0px);
}
#radio-4:checked ~ .carousel>.container-img>.container-item>#img-4{    
    filter: blur(0px);
}
/* Добавление селектед элемента при событии checked */
#radio-1:checked ~ .buttons>#label-1>.selected{
    opacity: 1;
}
#radio-2:checked ~ .buttons>#label-2>.selected{
    opacity: 1;
}
#radio-3:checked ~ .buttons>#label-3>.selected{
    opacity: 1;
}
#radio-4:checked ~ .buttons>#label-4>.selected{    
    opacity: 1;
}